[workspace]
members = [".", "camino-examples"]

[package]
name = "camino"
description = "UTF-8 paths"
version = "1.0.9"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["paths", "utf8", "unicode", "filesystem"]
categories = ["development-tools", "filesystem", "os"]
repository = "https://github.com/camino-rs/camino"
documentation = "https://docs.rs/camino"
authors = [
    "Without Boats <saoirse@without.boats>",
    "Ashley Williams <ashley666ashley@gmail.com>",
    "Steve Klabnik <steve@steveklabnik.com>",
    "Rain <rain@sunshowers.io>",
]
edition = "2018"
exclude = [".cargo/**/*", ".github/**/*"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg=doc_cfg"]

[dependencies]
proptest = { version = "1.0.0", optional = true }
serde = { version = "1", features = ["derive"], optional = true }

[features]
serde1 = ["serde"]
proptest1 = ["proptest"]
